<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
	
</head>
<body>

	<h2>Welcome  </h2>

	<a href="/eusers/addjob"> Add job |</a> 
	<a href="/eusers/joblist"> View job list |</a> 
	<a href="/eusers/logout"> Logout</a> 

</body>
</html>
